@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/static/Inter-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/static/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/static/Inter-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: white;
  background: black;
  height: 100vh;
  width: 100%;
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
}

.card {
    background-color: #1f1f1f;
    border-radius: 15px;
    max-width: 385px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 24px;
}

.card-img {
    aspect-ratio: 1/1;
    border-radius: 50%;
    width: 90px;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location {
    color: greenyellow;
}

.desc {
    font-weight: 400;
}

.buttons {
    list-style: none;
    width: 100%;
}

.social-button {
    width: 100%;
    background-color: #333333;
    border: none;
    border-radius: 10px;
    height: 50px;
    margin: 10px 0;
    color: #ffff;
    font-weight: 700;
}

.social-button:hover {
    background-color: greenyellow;
    color: black;
}